.large-hero {
  border-bottom: 10px solid $mainBlue;
  position: relative;

  &__image {
    display: block;
  }

  &__text-content {
    position: absolute; /* these three lines is to center the text vertically */
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%; /* these two lines is to center it horizontally */
    text-align: center;
  
  }

   
  &__title {
    font-weight: 300;
    color: $mainBlue;
    margin: 0;
    font-size: 2.4rem;
    
    @mixin atSmall {
      font-size: 4.8rem;
    }
    
  }

  &__subtitle {
    font-weight: 300;
    color: $mainBlue;
    margin: 0;
    font-size: 1.5rem;

    @mixin atSmall {
      font-size: 2.9rem;
    }    
  }

  &__description {
    color: #FFF;
    font-size: 1.3rem;
    font-weight: 100;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;

    @mixin atSmall {
      font-size: 1.875rem;
    }    
  }

}

